[Unit]
Description=Onifast S3 Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/root/onifast
ExecStart=/usr/local/bin/onifast-s3
Restart=always
RestartSec=5
StandardOutput=append:/home/root/onifast/logs/s3.log
StandardError=append:/home/root/onifast/logs/s3.log

[Install]
WantedBy=multi-user.target
