[Unit]
Description=Onifast S3 Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/root/onifast
ExecStart=/usr/local/bin/onifast-s3
Restart=always
RestartSec=5
StandardOutput=append:/var/log/onifast/s3.log
StandardError=append:/var/log/onifast/s3.log

[Install]
WantedBy=multi-user.target
