[Unit]
Description=Onifast WebSocket Tunnel Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/root/onifast
ExecStart=/usr/local/bin/onifast-relay
Restart=always
RestartSec=5
StandardOutput=append:/var/log/onifast/tunnel.log
StandardError=append:/var/log/onifast/tunnel.log

[Install]
WantedBy=multi-user.target
